@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,300italic,700italic);
:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
}
.app {
	&__inner {
		max-width 1200px
		width 80%
		margin 0 auto
		box-sizing border-box
		padding 40px

	}
	&__content{
		padding 20px 20px 0
		box-sizing border-box
		border-radius 5px
		border 2px solid #5fb3e4
	}
	&__title {
		font-size 28px
		line-height 1.2
		margin-bottom 20px
	}
}
