.userLocation {
    margin-bottom 20px
    &__title {
        font-size 18px
        margin-bottom 10px
    }
    &__city {
        color #f00
    }
    &__loader {
        width 100%
        display flex
        justify-content center
    }
}
